.layout-container {
    display: flex;
    height: 100vh;

    h1 {
        margin: 32px 0 12px 0;
        font-size: 24px;
    }
    h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 48px;
    }
    h4 {
        font-size: 16px;
        margin-bottom: 4px;
        font-weight: 600;
    }

    #simulate-exam-btn {
        margin-left: 36px;
        border: 0;
        color: #003056;
        background-color: white;
        // padding: 6px 16px;
        padding: 0;
        font-weight: bold;
        font-size: 14px;
        &::before {
            content: "▶︎ ";
        }
        cursor: pointer;
    }
}

.header {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 16px;
    padding-left: 64px;
    margin-bottom: 24px;
    position: sticky;
    top: 0px;
    background-color: rgba(white, 80%);
    backdrop-filter: blur(5px);
    z-index: 1;

    .header-content {
        max-width: 1100px;
        margin: 0 auto;
    }

    h1 {
        font-weight: normal;
        text-align: left;
        font-size: 24px;
        margin: 0px 0 4px 0;
    }
    h4 {
        margin: 0 0 16px 0;
        font-size: 14px;
        font-weight: normal;
    }
    nav {
        display: flex;
        gap: 16px;
        button {
            background-color: transparent;
            padding: 8px 0;
            border: 0;
            border-bottom: 3px solid transparent;
            font-size: 14px;
            cursor: pointer;
            transform: translateY(2px);

            &[data-active=true] {
                color: #003056;
                font-weight: 600;
                border-bottom-color: #003056;
            }
        }
    }
}

ul, ol {
    list-style-position: inside;
    .question-container {
        display: inline;
    }
    .question-container.layout-70-30 {
        display: inline-flex;
        width: 90%;
        overflow: hidden;

        :first-child {
            flex-grow: 1;
        }
        .graphics {
            min-width: 30%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 220px;
                object-fit: contain;
            }
        }
    }
    .solution {
        padding: 2px 12px;
        background-color: rgb(240, 240, 240);
        border: 1px solid black;
        display: inline-block;
        margin-top: 8px;
        math {
            font-size: 18px !important;
        }
    }
    line-height: 150%;
}
ul {
    list-style: none;
    padding-left: 14px;
    li {
        margin-left: 0;
    }
}
li {
    font-size: 16px;
}

.exam-simulation-modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(black, 20%);
    overflow-y: auto;
    z-index: 2;
}

.exam-simulation-modal {
    width: 800px;
    // height: 600px;
    background-color: white;
    margin: 64px auto;
    box-shadow: 0 2px 8px 2px rgba(black, 20%);

    .randomly-picked-questions {
        // background-color: #F2F9FF;
        padding: 12px 0;
        padding-bottom: 24px;
        // border-left: 2px solid #2482cf;
        transform: translateX(-2px);

        h4, h5 {
            margin: 12px 40px;
        }
        h5 {
            font-size: 14px;
            font-weight: normal;
            background-color: rgb(243, 215, 215);
            padding: 4px;
        }

        .reroll {
            display: flex;
            padding-left: 40px;
            align-items: center;
        }

        #reroll-btn {
            background: #003056;
            color: white;
            font-size: 16px;
            font-weight: 600;
            // padding: 0;
            padding: 6px 12px;
            border: 0;
            // border-radius: 6px;
            cursor: pointer;
        }
        
        .question-count-input {
            background-color: rgba(black, 5%);
            margin-left: 16px;
            padding: 4px 12px;
            margin-right: 6px;
            border-radius: 4px;
        }
        .question-count-input span {
        }
        .question-count-input input {
            border: 0;
            outline: 0;
            width: 20px;
            margin: 0;
            font-size: 16px;
            text-align: right;
            background-color: transparent;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .radio-button-group .radio-option:has(input:checked) .radio-validation {
        &[data-correct="true"] {
            &::after {
                content: " Tačno.";
                color: green;
            }
        }
    }
    
    .radio-validation {
        &[data-correct="true"] {
            &::after {
                content: " Ispravno";
                color: orangered;
            }
        }
    }

    .btn-validate {
        margin: 12px 40px;
        color: white;
        background-color: #1c639e;
        border: 1px solid rgba(black, 20%);
        font-size: 16px;
        font-weight: 600;
        padding: 6px 12px;
    }
}

.questions-list {
    margin-top: 0px;
    margin-bottom: 24px;
    // background-color: #f7f7f7;
    padding: 12px 0;
    padding-bottom: 24px;
    // border-left: 2px solid #686868;
    transform: translateX(-2px);

    .toggle-btn {
        margin: 12px;
        background-color: #eeeeee;
        border: 1px solid rgba(black, 20%);
        font-size: 14px;
        // font-weight: 600;
        padding: 4px 12px;
    }

}
li:has(.question-container .solution) {
    margin-bottom: 48px;
}
.questions-list[data-blured="true"] li {
    filter: blur(4px);
}

.sidebar-hamburger {
    display: none;
}
@media only screen and (max-width: 1100px) {
    .sidebar-hamburger {
        position: absolute;
        left: 8px;
        top: 20px;
        width: 48px;
        height: 48px;
        display: unset;
    }
    .fullscreen-sidebar {
        .sidebar {
            display: block;
            width: 100vw;
        }
        .main-container {
            display: none;
        }
    }
}

@media only screen and (max-width: 900px) {
    .question-container.layout-70-30 {
        display: unset !important;
    }
}